<div class="tab-pane {% if tab_settings_active|default(null) %}{{ 'active' }}{% endif %}" id="settings">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">{{ 'Name'|trans }}</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="{{ 'Name'|trans }}" value="{{ app.user.profile.firstname }} {{ app.user.profile.lastname }}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">{{ 'Email'|trans }}</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{ app.user.email }}" disabled>
            </div>
        </div>
    </form>
</div>
